.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 2px solid gray;
  border-radius: 3px;
  font-size: 20px;
  min-width: 400px;
  height: 60px;
}
.text {
  text-decoration: line-through;
}
.checkbox {
  background-color: green;
}
.input {
  height: 25px;
  outline: none;
}
